
// =========================
// Button styles

input[type='button'],
input[type='submit'] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

button, .M-btn, button.M-btn, input[type='button'], input[type='submit'], a.M-btn_md, a.M-btn{
  display: inline-block;
  text-decoration: none;
  background: #fff;
  margin-bottom: .5rem;
  outline: 0;
  border: 1px solid #333;
  padding: .75rem 1.25rem ;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;

  &.M-btn_sm { font-size: .75rem; padding: .5rem 1.25rem; }
  &.M-btn_lg { font-size: 1.5rem; padding: 1rem 1.75rem; }

  &:hover{
    background: $light-gray;
    text-shadow: $light-text-shadow;

  }

  &.M-btn_primary{
    background: $primary-color;
    color:#fff;

    &:hover{
      background: $light-primary;
    }
  }
}
