// =========================
/* Body Content - container */

.M-container--narrow{
  max-width: $container-content-max-width;
  padding: 0 5px;
  margin: 0 auto;
  width: 95%;
}

.M-container--full{
  width: 100%;
}
