// =========================
/* Body Content - container */

.M-container_narrow{
  max-width: $container-content-max-width;
  padding: 0 5px;
  margin: 0 auto;
  width: 95%;
  @include media-query($med-screen){ width: 95%; }
  @include media-query($lg-screen){ width: 90%; }
  .M-container_narrow{
    width: 100%;
  }
}

.M-container_full{
  width: 100%;
}