
.hero{
  width: 100%;
  background: $faint-gray;
  padding: 30px 0;
  min-height: 270px;



  .title,
  .subtitle{
    margin: .5rem 0;
  }

  .subtitle{
    margin: .5rem 0 1.25rem 0;
  }

  .title {
    font-size: 2.5rem;/* 2x body copy size = 32px */
    line-height: 1.25; /* 45px / 36px */
    
    margin: .5rem 0;
  }

  @include media-query($med-screen){
    min-height: 400px;
    padding: 55px 0;

    .title{
      font-size: 3.125rem;  /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }


  }

  @include media-query($lg-screen){
    padding: 100px 0;
    min-height: 500px;
    
    .title{
      font-size: 4rem;     /* 3x body copy size = 48px */
      line-height: 1.05; 
    }

  }

}
