.M-text_center{
  text-align: center;
}

.M-text_left{
  text-left: left;
}

.M-text_justify{
  text-align: justify;
}

.M-text_right{
  text-align: right;
}

.M-text_primary{
  color: $primary-color;
}
.M-text_success{
  color: $success-color;
}
.M-text_fail{
  color: $fail-color;
}

.M-text_warn{
  color: $warn-color;}

.M-text_info{
  color: $info-color;
}

.M-text_muted{
  color: $txt-muted-color;
}

button.M-bg_inverted,
input[type="submit"].M-bg_inverted,
a.M-bg_inverted,
.M-bg_inverted,
table tbody tr.M-bg_inverted,
table thead tr.M-bg_inverted,
table.M-table_striped thead tr.M-bg_inverted,
table.M-table_striped tbody tr.M-bg_inverted {
  background: $bg-inverted-color;
  color: $inverted-font-color;
  text-shadow: $dark-text-shadow;
}

button.M-bg_success,
input[type="submit"].M-bg_success,
a.M-bg_success,
.M-bg_success,
table tbody tr.M-bg_success,
table thead tr.M-bg_success,
table.M-table_striped thead tr.M-bg_success,
table.M-table_striped tbody tr.M-bg_success{
  background: $success-color;
  color: $inverted-font-color;
}

button.M-bg_info,
a.M-bg_info,
.M-bg_info,
table tbody tr.M-bg_info,
table thead tr.M-bg_info,
table.M-table_striped thead tr.M-bg_info,
table.M-table_striped tbody tr.M-bg_info{
  background: $info-color;
  color: $inverted-font-color;
}

button.M-bg_warn,
a.M-bg_warn,
.M-bg_warn,
table tbody tr.M-bg_warn,
table thead tr.M-bg_warn,
table.M-table_striped thead tr.M-bg_warn,
table.M-table_striped tbody tr.M-bg_warn{
  background: $warn-color;
}

button.M-bg_fail,
a.M-bg_fail,
.M-bg_fail,
table tbody tr.M-bg_fail,
table thead tr.M-bg_fail,
table.M-table_striped thead tr.M-bg_fail,
table.M-table_striped tbody tr.M-bg_fail
 {
  background: $fail-color;
  color: $inverted-font-color;
}

button.M-bg_disabled,
a.M-bg_disabled,
.M-bg_disabled,
table tbody tr.M-bg_disabled,
table thead tr.M-bg_disabled,
table.M-table_striped thead tr.M-bg_disabled,
table.M-table_striped tbody tr.M-bg_disabled{
  background: $bg-disabled-color;
  opacity: $bg-disabled-opacity;
}

button.M-bg_primary,
a.M-bg_primary,
.M-bg_primary,
table tbody tr.M-bg_primary,
table thead tr.M-bg_primary,	
table.M-table_striped thead tr.M-bg_primary,
table.M-table_striped tbody tr.M-bg_primary{
  background: $primary-color;
  color: $inverted-font-color;
}