.MG-text_center{
  text-align: center;
}

.MG-text_left{
  text-left: left;
}

.MG-text_justify{
  text-align: justify;
}

.MG-text_right{
  text-align: right;
}

.MG-text_primary{
  color: $primary-color;

}

.MG-text_muted{
  color: $txt-muted-color;
}

button.MG-bg_inverted,
a.MG-bg_inverted,
.MG-bg_inverted,
table tbody tr.MG-bg_inverted,
table thead tr.MG-bg_inverted,
table.MG-table_striped thead tr.MG-bg_inverted,
table.MG-table_striped tbody tr.MG-bg_inverted {
  background: $bg-inverted-color;
  color: $inverted-font-color;
}

button.MG-bg_success,
a.MG-bg_success,
.MG-bg_success,
table tbody tr.MG-bg_success,
table thead tr.MG-bg_success,
table.MG-table_striped thead tr.MG-bg_success,
table.MG-table_striped tbody tr.MG-bg_success{
  background: $success-color;
  color: $inverted-font-color;
}

button.MG-bg_info,
a.MG-bg_info,
.MG-bg_info,
table tbody tr.MG-bg_info,
table thead tr.MG-bg_info,
table.MG-table_striped thead tr.MG-bg_info,
table.MG-table_striped tbody tr.MG-bg_info{
  background: $info-color;
  color: $inverted-font-color;

}

button.MG-bg_warn,
a.MG-bg_warn,
.MG-bg_warn,
table tbody tr.MG-bg_warn,
table thead tr.MG-bg_warn,
table.MG-table_striped thead tr.MG-bg_warn,
table.MG-table_striped tbody tr.MG-bg_warn{
  background: $warn-color;
}

button.MG-bg_fail,
a.MG-bg_fail,
.MG-bg_fail,
table tbody tr.MG-bg_fail,
table thead tr.MG-bg_fail,
table.MG-table_striped thead tr.MG-bg_fail,
table.MG-table_striped tbody tr.MG-bg_fail
 {
  background: $fail-color;
  color: $inverted-font-color;

}

button.MG-bg_disabled,
a.MG-bg_disabled,
.MG-bg_disabled,
table tbody tr.MG-bg_disabled,
table thead tr.MG-bg_disabled,
table.MG-table_striped thead tr.MG-bg_disabled,
table.MG-table_striped tbody tr.MG-bg_disabled{
  background: $bg-disabled-color;
  opacity: $bg-disabled-opacity;
}

button.MG-bg_primary,
a.MG-bg_primary,
.MG-bg_primary,
table tbody tr.MG-bg_primary,
table thead tr.MG-bg_primary,
table.MG-table_striped thead tr.MG-bg_primary,
table.MG-table_striped tbody tr.MG-bg_primary{
  background: $primary-color;
  color: $inverted-font-color;
}