// =========================
// Lists

ul, ol{
  padding-left: 1.25rem;
  margin: .5rem 0; 

  ul, ol{
    margin: 0rem 0 .5rem 0;
  }
}

ul {
  > li {
    padding-left: .25rem;
  }
  
  ul{
    padding-left: .75rem
  }

}

ol{
  >li {
    padding-left: .5rem;
  }
  ol{
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}
