// =========================
// Block Quotes

blockquote {
  border-left: $med-gray .5rem solid;
  background: $faint-gray;
  padding: 1.25rem 1rem;
  margin: 1rem 0;
  font-size: 1.0rem;

  @include media-query($med-screen){
    font-size: 1.125rem;

  }

  > * {
    margin: .5rem;
  }

  > *:first-child{
    margin-top: 0;
  }

  > *:last-child,{
    margin-bottom: 0; 
  }

  cite {
    display: block;
    margin-top: 1.5rem;
    &:before{
      content: "— ";
    }
    
    color: $dark-gray;
    text-indent: -.75rem;
    margin-left: .75rem;

    font-size: .875rem;
    font-style: normal;
    @include media-query($med-screen){
      font-size: 1rem;

    }
  }
  
}

// =========================
// Code Formatting

pre {
  margin: 1rem auto;
  overflow: auto;
  width: 90%;
  background: $faint-gray;
  padding: 1rem;
  font-size: 1rem;

  @include media-query($med-screen){
    font-size: 1.125rem;
  }
  @include media-query($lg-screen){
    font-size: 1.125rem;
  }
  code{
    padding: 0;
  }
}


code {

  background: $faint-gray;  
  color: $code-color;
  padding: .1em .2em;
  margin: 0 1px;
  font-family: monospace;
  font-size: 1em;
  
  @include media-query($med-screen){
    font-size: 1.125em;
  }
}



.link-list-box{
  border: 1px $faint-gray solid;
  > * {
    font-size: .875rem;
    color: $default-font-color;
    text-decoration: none;
    padding: .5rem;
    display: block;
    border-bottom: 1px solid $faint-gray;
    &.active{
      color: $light-primary;
      font-weight: 700;
      background: $faint-gray;
    }
    &:hover{
      background: $faint-gray-translucent;
    }
    &:last-child{
      border-bottom: 0;
    }
  }
}
  
.contents-centered{
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  > * {
    position: absolute;
    margin: 0;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.img-stretch {
  position: relative;
  overflow: hidden;
  width :100%;
  height: 100%;
  top: 0;
  left: 0;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
  }
}


.tile{
  position: relative;
  > .tile-content{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;  
    overflow: hidden;
    &.padded-tile{
      padding: 1rem;
    }
  }
  &.sm-1-to-1{ padding-bottom: 100%;}
  &.sm-2-to-1{ padding-bottom: 200%;}
  &.sm-2-to-3{padding-bottom: 150%;}
  &.sm-3-to-4{padding-bottom: 133.333%;}
  &.sm-3-to-1{ padding-bottom: 300;}
  &.sm-4-to-1{ padding-bottom: 400%;}
  &.sm-1-to-1{padding-bottom: 100%;}
  &.sm-2-to-1{padding-bottom: 50%;}
  &.sm-3-to-1{padding-bottom: 33.3333%;}
  &.sm-4-to-1{padding-bottom: 25%;}
  &.sm-3-to-2{padding-bottom: 66.6667%;}
  &.sm-4-to-3{padding-bottom: 75%;}
  &.sm-16-to-9{padding-bottom: 56.25%;}


}
  
@include media-query($med-screen){
  .tile{
    &.md-1-to-1{ padding-bottom: 100%;}
    &.md-2-to-1{ padding-bottom: 200%;}
    &.md-2-to-3{padding-bottom: 150%;}
    &.md-3-to-4{padding-bottom: 133.333%;}
    &.md-3-to-1{ padding-bottom: 300;}
    &.md-4-to-1{ padding-bottom: 400%;}
    &.md-3-to-2{ padding-bottom: 66.6667%;}
    &.md-4-to-3{ padding-bottom: 75%;}
    &.md-16-to-9{padding-bottom: 56.25%;}
    &.md-1-to-3{ padding-bottom: 300%;}
    &.md-1-to-3{ padding-bottom: 200%;}
    &.md-1-to-4{ padding-bottom: 400%;}

  }
}

@include media-query($lg-screen){
  .tile{
    &.lg-1-to-1{ padding-bottom: 100%;}
    &.lg-2-to-3{padding-bottom: 150%;}
    &.lg-3-to-4{padding-bottom: 133.333%;}
    &.lg-2-to-1{ padding-bottom: 200%;}
    &.lg-3-to-1{ padding-bottom: 300;}
    &.lg-4-to-1{ padding-bottom: 400%;}
    &.lg-1-to-1{ padding-bottom: 100%;}
    &.lg-2-to-1{ padding-bottom: 50%;}
    &.lg-3-to-1{ padding-bottom: 33.3333%;}
    &.lg-4-to-1{ padding-bottom: 25%;}
    &.lg-3-to-2{ padding-bottom: 66.6667%;}
    &.lg-4-to-3{ padding-bottom: 75%;}
    &.lg-16-to-9{padding-bottom: 56.25%;}
    &.lg-3-to-4{padding-bottom: 133.333%;}

  }
}
