


// =========================
// Segment
.segment {
  position: relative;
  box-shadow: 0 1px 2px 0 $med-gray-translucent;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid $med-gray;
  
  > *:first-child{
    margin-top: 0;

  }

  > *:last-child,{
    margin-bottom: 0; 

  }
}