$default-sidebar-size: 275px;

$sm-sidebar-size: 150px;
$lg-sidebar-size: 350px;

aside{
  padding: 1.5rem;
  border-bottom: 1px solid $med-gray;

  .sidebar-title{
    margin: 0;
  }
 
  .sidebar-content{
    .sidebar-topic, .sidebar-subtopic{
      display: block;
      text-decoration: none;
      &:hover{   
        color: $med-gray;
      }
    }

    .sidebar-topic{
      padding: .25rem 0 .25rem 1rem ;
      margin-top: 1.25rem;
    }

    .sidebar-subtopic{
        font-size: .875rem;
        margin-top: .5rem;
        padding: .25rem 0 .25rem 1.75rem;
    }     
  }

  @include media-query($med-screen){
    margin-top: .5rem;   
    border-right: 1px solid $med-gray;
    border-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    height: 100vh;
    overflow: scroll;
    
    &.right{
      left: inherit;
      right: 0;
    }
    
    &.sidebar.sm,
    &.sm{
      padding: 1rem .5rem 2.5rem .5rem;
      width: $sm-sidebar-size;
      + * {
        position: relative;
        width: 100%;
        padding-left: $sm-sidebar-size;
      }

      &.right + *{
        padding-right: $sm-sidebar-size;
        padding-left: inherit;
      }


    }
    
    &.sidebar,
    &.sidebar.md,
    &.md{
      padding: 1rem .75rem 2.5rem .75rem;
      width: $default-sidebar-size;
      + * {
        position: relative;
        width: 100%;
        padding-left: $default-sidebar-size;
      }

      &.right + *{
        padding-right: $default-sidebar-size;
        padding-left: inherit;
      }

    }
    
    &.sidebar.lg,
    &.lg{
      padding: 1rem 1rem 2.5rem 1rem;
      width: $lg-sidebar-size;

      + * {
        position: relative;
        width: 100%;
        padding-left: $lg-sidebar-size;
      }

      &.right + *{
        padding-right: $lg-sidebar-size;
        padding-left: inherit;
      }
    }

    .sidebar-content{
      .sidebar-topic{
        padding: 0 0 0 1rem ;
        margin-top: 1.25rem;
      }

      .sidebar-subtopic{
        margin-top: .5rem;
        padding: 0 0 0 1.75rem;
      }
    }
  }

}
