// =========================
// Tiles

.M-tile{
  position: relative;
  .M-tile__content{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: hidden;
  }

  &.M-tile--sm-1-x-1{ padding-bottom: 100%;}
  &.M-tile--sm-2-x-1{ padding-bottom: 200%;}
  &.M-tile--sm-2-x-3{padding-bottom: 150%;}
  &.M-tile--sm-3-x-4{padding-bottom: 133.333%;}
  &.M-tile--sm-3-x-1{ padding-bottom: 300;}
  &.M-tile--sm-4-x-1{ padding-bottom: 400%;}
  &.M-tile--sm-1-x-1{padding-bottom: 100%;}
  &.M-tile--sm-2-x-1{padding-bottom: 50%;}
  &.M-tile--sm-3-x-1{padding-bottom: 33.3333%;}
  &.M-tile--sm-4-x-1{padding-bottom: 25%;}
  &.M-tile--sm-3-x-2{padding-bottom: 66.6667%;}
  &.M-tile--sm-4-x-3{padding-bottom: 75%;}
  &.M-tile--sm-16-x-9{padding-bottom: 56.25%;}
}

@include media-query($med-screen){
  .M-tile{
    &.M-tile--md-1-x-1{ padding-bottom: 100%;}
    &.M-tile--md-2-x-1{ padding-bottom: 200%;}
    &.M-tile--md-2-x-3{padding-bottom: 150%;}
    &.M-tile--md-3-x-4{padding-bottom: 133.333%;}
    &.M-tile--md-3-x-1{ padding-bottom: 300;}
    &.M-tile--md-4-x-1{ padding-bottom: 400%;}
    &.M-tile--md-3-x-2{ padding-bottom: 66.6667%;}
    &.M-tile--md-4-x-3{ padding-bottom: 75%;}
    &.M-tile--md-16-x-9{padding-bottom: 56.25%;}
    &.M-tile--md-1-x-3{ padding-bottom: 300%;}
    &.M-tile--md-1-x-3{ padding-bottom: 200%;}
    &.M-tile--md-1-x-4{ padding-bottom: 400%;}

  }
}

@include media-query($lg-screen){
  .M-tile{
    &.M-tile--lg-1-x-1{ padding-bottom: 100%;}
    &.M-tile--lg-2-x-3{padding-bottom: 150%;}
    &.M-tile--lg-3-x-4{padding-bottom: 133.333%;}
    &.M-tile--lg-2-x-1{ padding-bottom: 200%;}
    &.M-tile--lg-3-x-1{ padding-bottom: 300;}
    &.M-tile--lg-4-x-1{ padding-bottom: 400%;}
    &.M-tile--lg-1-x-1{ padding-bottom: 100%;}
    &.M-tile--lg-2-x-1{ padding-bottom: 50%;}
    &.M-tile--lg-3-x-1{ padding-bottom: 33.3333%;}
    &.M-tile--lg-4-x-1{ padding-bottom: 25%;}
    &.M-tile--lg-3-x-2{ padding-bottom: 66.6667%;}
    &.M-tile--lg-4-x-3{ padding-bottom: 75%;}
    &.M-tile--lg-16-x-9{padding-bottom: 56.25%;}
    &.M-tile--lg-3-x-4{padding-bottom: 133.333%;}
  }
}
