@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,600italic,400italic,200italic,200);

*{
  box-sizing: border-box;
}

body{ 
  margin: 0; 
  font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
}

img { max-width: 100%; }



@import "./parts/mixins";
@import "./parts/variables";

@import "./parts/containers";
@import "./parts/grid";
@import "./parts/typography";
@import "./parts/lists";
@import "./parts/buttons";
@import "./parts/forms";
@import "./parts/sidebar";
@import "./parts/header-hero";
@import "./parts/navigation";
@import "./parts/tables";
@import "./parts/thumbnail-cards";
@import "./parts/segment";
@import "./parts/miscellaneous";
@import "./parts/helpers";


